{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p><strong>{% trans "Donnees inconnues." %}</strong> {% trans "Veuillez entrer les bonnes informations" %}</p>
        </div>
    {% endif %}
    <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">{% trans 'Se connecter' %}</button>
            </div>
            <div class="top-buffer col-sm-offset-2 col-sm-10">
              <!--<p><a href="{% url 'password_reset' %}">{% trans "Reset My Password" %}</a></p>-->
                <p><a href="javascript:toggleForgotPasswordHint();">Mot de passe oublie?</a></p>
                <script>function toggleForgotPasswordHint(){ $("#forgotPasswordHint").toggle(); }</script>
                <div id="forgotPasswordHint" style="display: none; font-size: 90%; padding: 4px;" class="theme-secondary">
                    Vous pouvez reinitialiser le mot de passe Administrateur par cette commande:
                    <span class="theme-background-highlight" style="padding: 4px; margin: 8px 0; display: inline-block;">./webodm.sh resetadminpassword yournewpass</span><br/>
                    If you used WebODM Manager to launch WebODM, find the "Reset Password" button within the maintenance panel or within one of WebODM Manager menus.
                </div>
            </div>
        </div>
    </form>
{% endblock %}
