{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	{% if no_processingnodes %}
		<h3>{% trans 'Welcome! ☺' %}</h3>
		{% trans 'Add a Processing Node' as add_processing_node %}
		{% with nodeodm_link='<a href="https://github.com/OpenDroneMap/NodeODM" target="_blank">NodeODM</a>' api_link='<a href="https://github.com/OpenDroneMap/NodeODM/blob/master/docs/index.adoc" target="_blank">API</a>' %}
			<p>
			{% blocktrans %}
				To get started, "{{ add_processing_node }}". A processing node is a computer running an instance of {{ nodeodm_link }} or some other software that implements this {{ api_link }}.
			{% endblocktrans %}
			</p>
		{% endwith %}
		<button class="btn btn-primary" onclick="location.href='{% url "admin:nodeodm_processingnode_add" %}';"><i class="fa fa-plus-circle"></i> {{ add_processing_node }}</button>

	{% else %}

		{% if no_tasks %}
			<h3>{% trans 'Bienvenue' %}</h3>
			{% trans "Selection d'images et GCP" as upload_images %}
			<p>
				{% blocktrans %} Pour creer une carte , appuyer le bouton "{{ upload_images }}", ou glisser quelques images a l'interieur du projet. {% endblocktrans %}
			</p>
			<p>
				<ul>
					<li>{% trans "Vous avez besoin d'au moins 5 images" %}</li>
					<li>{% trans 'Images must overlap by 65% or more' %}</li>
					<li>{% trans 'For great 3D, images must overlap by 83%' %}</li>
					<li>{% trans 'Un <a href="https://github.com/OpenDroneMap/OpenDroneMap/wiki/Running-OpenDroneMap#running-odm-with-ground-control" target="_blank">Fichier GCP</a> est optionnel, mais il peut augmenter la précision du géoréférencement' %}</li>
				</ul>
			</p>
		{% endif %}

		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}
