{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	{% if no_processingnodes %}
		<h3>{% trans 'Welcome! ☺' %}</h3>
		{% trans 'Add a Processing Node' as add_processing_node %}
		{% with nodeodm_link='<a href="https://github.com/OpenDroneMap/NodeODM" target="_blank">NodeODM</a>' api_link='<a href="https://github.com/OpenDroneMap/NodeODM/blob/master/docs/index.adoc" target="_blank">API</a>' %}
			<p>
			{% blocktrans %}
				To get started, "{{ add_processing_node }}". A processing node is a computer running an instance of {{ nodeodm_link }} or some other software that implements this {{ api_link }}.
			{% endblocktrans %}
			</p>
		{% endwith %}
		<button class="btn btn-primary" onclick="location.href='{% url "admin:nodeodm_processingnode_add" %}';"><i class="fa fa-plus-circle"></i> {{ add_processing_node }}</button>

	{% else %}

		{% if no_tasks %}
			<h3>{% trans 'Bienvenue' %}</h3> 
			{% trans "Selection d'images et GCP" as upload_images %}
			<p>
				{% blocktrans %} Pour creer une carte , appuyer le bouton "{{ upload_images }}", ou glisser quelques images a l'interieur du projet. {% endblocktrans %}
			</p>
			<p>
				<ul>
					<li>{% trans "Vous avez besoin d'au moins 5 images" %}</li>
					<li>{% trans 'Images must overlap by 65% or more' %}</li>
					<li>{% trans 'For great 3D, images must overlap by 83%' %}</li>
					<li>{% trans 'Un <a href="https://github.com/OpenDroneMap/OpenDroneMap/wiki/Running-OpenDroneMap#running-odm-with-ground-control" target="_blank">Fichier GCP</a> est optionnel, mais il peut augmenter la précision du géoréférencement' %}</li>
				</ul>
			</p>
			
		{% endif %}
		
		<div class="container-fluid" style="margin-top:50px;">
			<div class="row" style="margin-bottom:50px;">
				<h1 class="text-center">How It Work</h1>
			</div>
			<div class="row">

				<div class="col-md-3 col-sm-3 col-xs-12">
					<section>
						{% load static %}
						<img src="{% static 'assets/01.png' %}" alt="My image" class="img-responsive" width="280" height="280"/>						
					</section>					
					<h3 class="text-center">Titre</p>
				</div>

				<div class="col-md-3 col-sm-3 col-xs-12">
					{% load static %}
					<img src="{% static 'assets/02.png' %}" alt="My image" class="img-responsive" width="280" height="280"/>
					<h3 class="text-center">Titre</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					{% load static %}
					<img src="{% static 'assets/03.png' %}" alt="My image" class="img-responsive" width="280" height="280"/>
					<h3 class="text-center">Titre</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					{% load static %}
					<img src="{% static 'assets/04.png' %}" alt="My image" class="img-responsive" width="280" height="280"/>
					<h3 class="text-center">Titre</p>
				</div>				
			</div>
		</div>
		
		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}