{% extends "app/base.html" %}
{% load i18n static %}


{% block navbar-top-links %}
    <!-- <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" style="color:#45aaf2;" data-toggle="dropdown" href="#">
                <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li class="user-profile">
                    {% trans 'Bienvenue' %}, {{ user.username }}<br/>
                    <span class="email">{{ user.email }}</span>
                </li>
                <li class="divider"></li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Deconnexion' %}</a>
                </li>
            </ul>
             /.dropdown-user
        </li>
        /.dropdown
    </ul> -->
{% endblock %}

{% block navbar-sidebar %}
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav pull-right">
    <li class="" style="background: #45aaf2">
      <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Tableau de bord' %}</a>
    </li>
    <li><a href="/plugins/posm-gcpi">Interface GCP</a></li>
    <li><a href="/plugins/lightning">Service Lightning</a></li>
    <li><a href="/plugins/diagnostic">Diagnostique Memoire</a></li>
    <li><a href="/plugins/openaerialmap">OpenAerialMap</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" style="color:#ffffff;" data-toggle="dropdown" href="#">
            <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li class="user-profile">
                {% trans 'Bienvenue' %}, {{ user.username }}<br/>
                <span class="email">{{ user.email }}</span>
            </li>
            <li class="divider"></li>
            <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Deconnexion' %}</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
  </ul>
  <!-- <ul class="nav navbar-nav navbar-right" >
    <li class="dropdown">
        <a class="dropdown-toggle" style="color:#ffffff;" data-toggle="dropdown" href="#">
            <i class="fa fa-users fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li class="user-profile">
                {% trans 'Bienvenue' %}, {{ user.username }}<br/>
                <span class="email">{{ user.email }}</span>
            </li>
            <li class="divider"></li>
            <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Deconnexion' %}</a>
            </li>
        </ul>
         /.dropdown-user
    </li>
  </ul> -->
</div>
{% endblock %}

{% block page-wrapper %}
<div id="page-wrapper">
    <section class="main">
        <div class="content">
            {{ SETTINGS.theme.html_after_header|safe }}

            {% block messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}
        </div>
    </section>
</div>
{% endblock %}
=