#dashboard-app{
   
    .row{
        &.no-margin{
            margin: 0px;
        }
    }

    .dash{
        /* display: flex;
        flex-flow: row wrap; */
    }

    .progress{
        height: 20px;
        margin-bottom: 4px;
        .progress-bar{
            font-size: 14px;
            line-height: 18px;
        }
    }

    .add-button, .list-group{
        margin-top: 10px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
}